<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory="artifacts/test/.phpunit.cache"
         colors="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         executionOrder="default">
    <testsuites>
        <testsuite name="main">
            <directory>test/suite</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="256M"/>
    </php>
</phpunit>
